<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Report</title>
</head>
<body>
    <h1>UserName : {{user}}</h1>
    <hr>
    <h2>User ID : {{user.pk}}</h2>
    <hr>
    <h2>First_Name : {{user.first_name}}</h2> 
    <hr>
    <h2>Last_Name : {{user.last_name}}</h2>
    <hr>
    <h2> Email Address : {{user.email}}</h2>
    <hr>
    <h2> Date Joined : {{user.date_joined}}</h2>
    <hr>
    <h2> Last Login : {{user.last_login}}</h2>
</body>
</html>